{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<h2 class="featurette-heading" align='center'>BOARD OF DIRECTORS</h2>
    <!-- START THE FEATURETTES -->
<div class="container">
  {% for director in directors %}
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="{% cycle 'col-md-7' 'col-md-7 order-md-2' %}">
        <h2 class="featurette-heading"> {{ director.name }} </h2>
        <h3 class="featurette-heading"><span class="text-muted"> {{ director.designation }}</span></h3>
        <p class="lead">{{ director.description }}</p>
      </div>
      <div class="{% cycle 'col-md-5' 'col-md-5 order-md-1' %}">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><image href="{{ director.image.url }}" height="400" width="400"/></svg>
      </div>
    </div>
    {% endfor %}
</div>
<br>
<br>

{% endblock content %}