{% extends 'base.html' %}
{% load static %}
    
{% block extra_stylesheet %}
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{% endblock extra_stylesheet %}

{% block extra_scripts %}
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock extra_scripts %}

{% block content %}


<!-- About Section -->
<div class="w3-container w3-padding-32" id="about">
  <div class="col-md-6 offset-sm-3">
    <h3 class="w3-center">ABOUT</h3>
    <p class="w3-center w3-large">FINDISH INDIA Private Limited is an Indian in-house organic food producer and exporter company based in Gorakhpur, India. The company is founded by Dr. Maneesh Pratap Singh in 2019. The company initially focuses on high protein and medicinal organic fresh Indian food products.</p>
  </div>
</div>

<!-- Team Section -->
<div class="v l full-height">
      <div class="c ci">
        <div class="d iv jc offset-m1 cy">

          <div class="c">
            <div class="d iv ki center-on-small-only">
              <h3 class="section-title">Marketing</h3>
            </div>

            <div class="d iv km">
              <div class="c">

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Jane Doe</span>
                    <span class="cx">Founder</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">John Chang</span>
                    <span class="cx">Head of Sales</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait3.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Charlotte Smith</span>
                    <span class="cx">Lead Sales</span>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="c">
            <div class="d iv">
              <div class="eh"></div>
            </div>
            <div class="d iv ki center-on-small-only">
              <h3 class="section-title">Engineering</h3>
            </div>

            <div class="d iv km">
              <div class="c">

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Jane Doe</span>
                    <span class="cx">Frontend Engineer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">John Chang</span>
                    <span class="cx">Backend Engineer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait3.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Charlotte Smith</span>
                    <span class="cx">Database Engineer</span>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <div class="c">
            <div class="d iv">
              <div class="eh"></div>
            </div>
            <div class="d iv ki center-on-small-only">
              <h3 class="section-title">Design</h3>
            </div>

            <div class="d iv km">
              <div class="c">

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Jane Doe</span>
                    <span class="cx">Motion Designer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">John Chang</span>
                    <span class="cx">Interaction Designer</span>
                  </div>
                </div>

                <div class="d iv kr">
                  <div class="avatar-wrapper">
                    <span class="k">
                      <img src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait3.jpg?0" alt="">
                    </span>
                  </div>
                  <div class="avatar-name">
                    <span class="fx">Charlotte Smith</span>
                    <span class="cx">Senior Designer</span>
                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
{% endblock content %}