  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6 footer-info">
            <h3>FINDISH</h3>
            <p>FINDISH INDIA Private Limited is an Indian in-house organic food producer and exporter company based in Gorakhpur, India. The company is founded by Dr. Maneesh Pratap Singh in 2019. The company initially focuses on high protein and medicinal organic fresh Indian food products.
            </p>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#">Home</a></li>
              <li><a href="#">About us</a></li>
              <li><a href="#">Board of Directors</a></li>
              <li><a href="#">Products</a></li>
              <li><a href="#">Research and Development</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>
              FINDISH India Private Limited<br>
              House No.-245B<br>
              Raptinagar Phase 4<br>
              Gorakhpur, (UP) India-273013<br>
              <strong>Phone:</strong> +1 +91 9805005002<br>
              <strong>Email:</strong> help@findish.in<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
<div id="preloader"></div>